<h1>Forget Password</h1>

<div>
  <form action="/forget-password" method="POST">
    <div class="form-group">
      <label for="email">Email</label>
      <input
        type="email"
        name="email"
        id="email"
        class="form-control"
        aria-describedby="emailHelp"
        placeholder="Enter email"
      />
    </div>
    <button type="submit" class="d-inline btn btn-success">Send mail</button>
  </form>
</div>
