<section class="prompt">
  <h3><%- process.env.APP_NAME %></h3>
  <h1>Check your email</h1>
  <p class="instructions">
    We sent a magic link to your email address. Click the link in that email to reset your password
  </p>
  <hr />
  <p class="help">
    Didn't receive the email? <a href="/forget-password">Get another link</a>
  </p>
</section>
